@import '../../values.scss';

.header {
    display: flex;
    min-height: $header-height;
    background-color: $main-color;
}

#title-div {
    display: flex;

    min-height: $header-height;
    width: fit-content;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: $margin-lg;
}

#user-menu-div {
    display: flex;
    align-self: flex-end;

    min-height: $header-height;
    width: fit-content;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: $margin-lg;
}

.header-icon {
    color: white;
    align-self: flex-start;   

    margin-top: auto;
    margin-bottom: auto;
}

.header-title {
    color: white;
    font-size: 2em;
    text-transform: capitalize;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: $margin-md;
}