@import '../../values.scss';

.table-div {
    width: 100%;
    height: 100%;
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
}

.top-div {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.options-buttons-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.options-buttons-div button {
    margin: 5px;
}

.pagination {
    display: block;
}

.mobile-pagination {
    display: none; /* Hide mobile pagination by default */
}

@media (max-width: 600px) {
    .options-buttons-div button {
        flex-basis: 50%;
    }

    .pagination {
        display: none !important; /* Hide desktop pagination on mobile */
    }
    
    .mobile-pagination {
        display: flex; /* Show mobile pagination */
        justify-content: space-between;
        margin-top: 20px; /* Adjust the spacing as needed */
    }
}
.entity-edit-container-div {
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
}

.edit-container-text-field {
    width: 100%;
    margin-top: $margin-sm !important;
    margin-bottom: $margin-sm !important;
}

.confirmation-buttons-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: $margin-lg;
}