@import '../../values.scss';

.table-div {
    width: 100%;
    height: 70vh;

    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
}

.options-buttons-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.options-buttons-div button {
    margin: 5px;
}

@media (max-width: 600px) {
    .options-buttons-div button {
        flex-basis: 50%;
    }
}

.entity-edit-container-div {
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
}

.edit-container-text-field {
    width: 100%;
    margin-top: $margin-sm !important;
    margin-bottom: $margin-sm !important;
}

.confirmation-buttons-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: $margin-lg;
}