@import "../../values.scss";

.senderBox {
  justify-content: flex-end !important;
}

.chat-menu {
  margin: $margin-md auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%; /* Make the chat box as wide as the screen */
  max-width: 1300px;
  height: 70%;
}

.chat-menu-messages-box {
  padding: 0;
  margin: 0;
}

.message {
  list-style: none;
  background-color: #e5e5ea;
  padding: 10px;
  border-radius: 4px;
  width: fit-content;
  max-width: 70%; /* Limit the maximum width of the message */
  margin-bottom: 10px;
}

.message .self {
  align-self: flex-end; /* Align sent messages to the right */
}

.message-data {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
  font-weight: bold;
  text-align: left;
  border-radius: 50%;
  margin-right: $margin-lg;
}

.chat-menu-send-box {
  display: flex;
  align-items: center;
}

.send-box-input {
  flex: 1;
  margin-right: 10px;
}

.send-box-button {
  flex-shrink: 0;
}
