@import '../values.scss';

.md {
    width: $question-card-w;    
    max-width: $question-card-max-w;

    border: 0px;
    border-radius: $border-radius;

    box-shadow: $box-shadow-h-offset-sm 
                $box-shadow-v-offset-sm 
                $box-shadow-blur-nil 
                $box-shadow-spread-sm 
                $button-shadow-color, 

                0-$box-shadow-h-offset-md 
                0-$box-shadow-v-offset-md 
                $box-shadow-blur-nil
                $box-shadow-spread-sm 
                $main-color;

    margin-left: auto;
    margin-right: auto;
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
    padding: $padding-md $padding-lg;

    transition: all $transition-duration ease-in-out;

    background-color: white;

    display: block;

    text-align: start;
}

.xl {
    @extend .md;
    width: $question-card-big-w;
}